/AutoClickerA.class
/AutoClickerB.class
/Criticals.class
/FastBow.class
/HitBoxes.class
/KillAuraA.class
/KillAuraB.class
/KillAuraC.class
/KillAuraD.class
/KillAuraE.class
/KillAuraF.class
/ReachA.class
/ReachB.class
/ReachC.class
/Regen.class
/Twitch.class
